{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body>
<div id="header" class="header">
    <img src="{% static 'images/logo.png' %}" alt="logo">
    <div class="create-line"></div>
    <div class="menu" id="menu">
        <a href="{% url 'home' %}" class="menu-button">Главная</a>
        {% if user.is_authenticated %}
            <a href="{% url 'form' %}" class="menu-button">Конкурс</a>
            <a href="{% url 'my_applications' %}" class="menu-button">Мои заявки</a>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
        <span class="menu-button-login">Привет, {{ user.username }}!</span>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="menu-button-login">Выйти</button>
        </form>
    {% else %}
        <a href="{% url 'register' %}" class="menu-button-login">Войти</a>
    {% endif %}

    <div class="support">
        <div class="create-line"></div>
        <h1 class="support-text" id="support-text">Поддержка:</h1>
        <h1 class="support-number" id="support-number">+7(906)943-57-23</h1>
        <div class="create-line"></div>
        <h1 class="organization-name" id="organization-name">© 2023 ФГБОУ ВО "АлтГПУ"</h1>
    </div>
</div>

<div class="white-rectangle">
  <div class="content">
    <h2 class="heading">Заполните форму</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Отправить форму</button>
    </form>
  </div>
</div>
</body>
</html>
