<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Данные проекта</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="header" class="header">
    <img src="img/logo.png" alt="logo">
    <div class="create-line"></div>
    <div class="menu" id="menu">
      <button class="menu-button">Главная</button>
      <button class="menu-button">Конкурс</button>
      <button class="menu-button">Сертификаты</button>
    </div>

    <button class="menu-button-login">Войти</button>
    <div class="support">
      <div class="create-line"></div>
      <h1 class="support-text" id="support-text">Поддержка:</h1>
      <h1 class="support-number" id="support-number">+7(906)943-57-23</h1>
      <div class="create-line"></div>
      <h1 class="organization-name" id="organization-name">© 2023 ФГБОУ ВО "АлтГПУ"</h1>
    </div>
  </div>

  <div class="white-rectangle">
    <div class="modal">
      <div class="modal-content">
        <h1 class="heading">Данные заявки</h1>

        <div class="grid-container">
          <div class="field">
            <span class="heading2">ФИО участника</span>
            <div class="input-box">Софья Константинова Константинова</div>
          </div>
          <div class="field">
            <span class="heading2">ФИО руководителя</span>
            <div class="input-box">Баранкин Вася Петрович</div>
          </div>
          <div class="field">
            <span class="heading2">Презентация стартапа</span>
            <div class="input-box">57483256887549.pdf</div>
          </div>
          <div class="field">
            <span class="heading2">Номинация</span>
            <div class="input-box">Человек-Человек</div>
          </div>
        </div>

        <div class="section">
          <span class="heading2">Описание стартапа</span>
          <div class="description">
            TechWave - это инновационный стартап, ориентированный на разработку и предоставление передовых IT-решений. Наша цель заключается в создании пространства, где технологии сливаются с уникальными идеями, чтобы привести к положительным изменениям в мире бизнеса.<br><br>
            Продукты и услуги. TechWave разрабатывает и предлагает широкий спектр продуктов и услуг, адаптированных к потребностям клиентов в сфере информационных технологий. Наши основные продукты включают в себя разработку программного обеспечения, веб-приложений и мобильных приложений, создание и поддержку компьютерных сетей и облачных платформ, а также консалтинговые услуги по внедрению и оптимизации IT-решений.
          </div>
        </div>

        <div class="section">
          <span class="heading2">Оценки</span>
          <div class="scores">
            <div class="score-block">
              <span class="score-label">Баллы экспертов</span>
              <div class="score-item"><span>Содержание</span> <span class="score">15</span></div>
              <div class="score-item"><span>Качество исполнения</span> <span class="score">10</span></div>
              <div class="score-item"><span>Качество презентации</span> <span class="score">10</span></div>
            </div>
            <div class="score-block">
              <span class="score-label">Средний балл</span>
              <div class="average-score">35</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>